/* Style sheet for Aaron and Kelsey's wedding RSVP website */


/*Background color*/
body {
    background-color: #484d69; /*blue*/
}


/*Text color and font */
h1 {
    color: white;
    font-family: serif;
    font-style:italic;
}

p {
    color: white;
}


/*RSVP button*/
button {
    background-color: #ffe569; /*yellow*/
    border: none;
    border-radius: 3px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    width: 21.5%;
    min-width: 200px;
    min-height: 25px;
}


/*Nav menu*/
ul {
    list-style-type: none;
    display: table;   /* Allow centering the ul to work */
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #484d69; /*blue*/
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    max-width: 5%;
    min-width: 50px;
    align-content: center;
    border-radius: 2px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffe569;
}

/*Input fields*/
.container .form-control {
    height: 2em;
    width: 21.2%;
    min-width: 200px;
    min-height: 25px;
    border-radius: 3px;
}